<app-countdown-timer-card [value]="years" label="Years"></app-countdown-timer-card>
<app-countdown-timer-card [value]="months" label="months"></app-countdown-timer-card>
<app-countdown-timer-card [value]="days" label="days"></app-countdown-timer-card>
<app-countdown-timer-card [value]="hours" label="hours"></app-countdown-timer-card>
<app-countdown-timer-card [value]="minutes" label="minutes"></app-countdown-timer-card>
<app-countdown-timer-card [value]="seconds" label="seconds"></app-countdown-timer-card>