$grayish-blue: hsl(0, 0%, 58%);
$soft-red: hsl(345, 95%, 68%);

$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(0, 0%, 4%);
$very-dark-black-blue: hsla(0, 0%, 69%, 0.952);